/* 
    General
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
  }  

img {
    max-width: 100%;
}

/* 
    Typography
*/
h1 {
    font-family: 'Montserrat' ,sans-serif !important;
    font-size: 30px !important;
    text-align: center !important;
}

p {
    font-family: 'Open Sans' ,sans-serif !important;
    text-align: center !important;
    font-size: 16px;
}

li {
    font-family: 'Open Sans' ,sans-serif !important;
    font-size: 16px;
}
/* 
    Color
*/
.primarypink{
    color: #F3174D !important;
}

/* 
    Main Container
*/
.container {
    border: 3px solid #F3174D;
}